li {
  list-style-type: none;
}

.navbar-toggler {
  background-color: #ffffff;
  margin-top: 0.7rem;
}

.navbar-toggler-icon {
  color: #ffffff;
}

.nav-item {
  padding: 0.2rem 1.5rem;
}

.nav-btn {
  border-radius: 10px;
  padding: 5px;
  font-weight: 500;
  color: blue;
  width: 8vw;
  border: #ffffff;
}

.wrapper {
  background-color: #21263e;
  color: #ffffff;
}
.wrapper .banner {
  background: transparent radial-gradient(closest-side at 50% 50%, #21263e 0, #1c2133 100%) 0 0 no-repeat padding-box;
}
.wrapper .banner .nav__logo {
  width: 150px;
}
.wrapper .banner__hero {
  background-color: transparent;
}
.wrapper .banner__hero--title {
  font-size: 3rem;
}
.wrapper .banner__hero--img {
  width: 100%;
  background-size: contain;
  height: 50%;
}
.wrapper .banner__hero--btn {
  padding: 9px;
  border: transparent;
  width: 9vw;
  border-radius: 10px;
  font-weight: 500;
}
.wrapper .banner__form {
  height: 20vh;
  background-color: #1c2133;
  top: -10%;
  width: 85%;
  left: 20%;
  transform: translate(10%, 45%);
  border-radius: 10px;
}
.wrapper .banner__form--subtitle {
  color: #9649f5;
  font-size: 1.5rem;
}
.wrapper .join {
  padding: 5rem;
  background-color: #21263e;
}
.wrapper .join__col--img {
  width: 100%;
  opacity: 0.5;
}
.wrapper .join__col--btn {
  width: 10vw;
  background-color: transparent;
  border: 1px solid #964cf5;
  font-weight: 700;
  padding: 6px;
  color: #9857f6;
}
.wrapper .starts {
  background-color: #1c2133;
}
.wrapper .starts__col--title {
  padding: 0 0.5rem;
  border: 2px solid #9649f5;
  border-radius: 10px;
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 600;
  text-align: start;
}
.wrapper .starts__col--btn {
  border: 1px solid rgb(38, 168, 38);
  width: 10vw;
  padding: 7px;
  background-color: transparent;
  font-weight: 700;
  color: rgb(38, 168, 38);
}
.wrapper .why {
  height: 100vh;
  background-color: #21263e;
  padding: 5rem;
}
.wrapper .why--title {
  font-size: 3rem;
}
.wrapper .why__col {
  align-items: center;
  padding: 2rem 0.5rem;
}
.wrapper .why__col:nth-child(2) {
  top: 10%;
  left: 10%;
  transform: translate(0%, -25%);
}
.wrapper .why__card {
  text-align: center;
  background-color: #1c2133;
  padding: 2.5rem;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.35);
  align-items: center;
  height: 50vh;
}
.wrapper .why__card--icon {
  margin-bottom: 1rem;
  color: transparent linear-gradient(90deg, #9649f5, #964cf5 24%, #9857f6 46%, #9c69f7 67%, #a183f9 87%, #a698fb) 0 0 no-repeat padding-box;
  border-radius: 50%;
}
.wrapper .why__card--title {
  font-size: 1.5rem;
  font-weight: 500;
}
.wrapper .why__btn {
  width: 40%;
  height: 10vh;
  background: transparent linear-gradient(90deg, #9649f5, #964cf5 24%, #9857f6 46%, #9c69f7 67%, #a183f9 87%, #a698fb) 0 0 no-repeat padding-box;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.25);
  text-align: center;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform: translate(75%, -30%);
}
.wrapper .supports {
  background: #394358;
  text-align: center;
  padding: 3rem;
}
.wrapper .supports--title {
  font-size: 4rem;
}
.wrapper .tokens__btn {
  width: 40%;
  height: 10vh;
  background: transparent linear-gradient(90deg, #9649f5, #964cf5 24%, #9857f6 46%, #9c69f7 67%, #a183f9 87%, #a698fb) 0 0 no-repeat padding-box;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.25);
  text-align: center;
  border-radius: 10px;
  top: 20%;
  left: 10%;
  transform: translate(75%, 125%);
}
.wrapper .footer {
  background-color: #303846;
}
.wrapper .footer__logo {
  width: 50%;
}

@media screen and (max-width: 786px) {
  .nav-btn {
    width: 20vw;
  }
  .wrapper .banner__hero--title {
    font-size: 1.5rem;
  }
  .wrapper .banner__hero--img {
    width: 100%;
    height: 50%;
  }
  .wrapper .banner__hero--btn {
    width: 20vw;
  }
  .wrapper .banner__form {
    height: 50%;
  }
  .wrapper .join {
    margin: 3rem 0.5rem;
  }
  .wrapper .join__col--btn {
    width: 20vw;
  }
  .wrapper .why {
    display: block;
    height: 100%;
    width: 100%;
    padding: 2.2rem;
  }
  .wrapper .why--title {
    font-size: 2.5rem;
  }
  .wrapper .why__col {
    width: 80%;
    justify-content: center;
    padding: 0;
    left: 20%;
  }
  .wrapper .why__col:nth-child(2) {
    top: 0;
    left: 0;
    transform: translate(0, 0);
  }
  .wrapper .why__card {
    padding: 0.5rem;
    margin: 0.5rem;
    width: 100%;
  }
  .wrapper .starts__col--title {
    font-size: 1.2rem;
  }
  .wrapper .starts__col--btn {
    width: 20vw;
  }
  .wrapper .supports--title {
    font-size: 2rem;
  }
  .wrapper .footer {
    text-align: center;
  }
}
@media screen and (max-width: 600px) {
  .nav-btn {
    width: 20vw;
  }
  .wrapper .banner__hero--title {
    font-size: 1.5rem;
  }
  .wrapper .banner__hero--img {
    width: 100%;
    height: 50%;
  }
  .wrapper .banner__hero--btn {
    width: 25vw;
  }
  .wrapper .banner__form {
    margin: 0;
    padding: 0;
    height: 40%;
    width: 100%;
    left: 0;
    transform: translate(0, 0);
  }
  .wrapper .starts__col--btn {
    width: 28vw;
  }
  .wrapper .join {
    margin: 3rem 0.5rem;
    padding: 2rem;
  }
  .wrapper .join__col--btn {
    width: 25vw;
  }
  .wrapper .why {
    display: block;
    height: 100%;
    width: 100%;
    padding: 2.2rem;
  }
  .wrapper .why--title {
    font-size: 2.5rem;
  }
  .wrapper .why__col {
    align-items: center;
    width: 100%;
    padding: 0;
  }
  .wrapper .why__col:nth-child(2) {
    top: 0;
    left: 0;
    transform: translate(0, 0);
  }
  .wrapper .why__card {
    padding: 0.5rem;
    margin: 0.5rem;
  }
  .wrapper .supports--title {
    font-size: 2rem;
  }
  .wrapper .footer {
    text-align: center;
  }
}/*# sourceMappingURL=main.css.map */